---
import AboutMe from "@/components/AboutMe.astro";
import Experience from "@/components/Experience.astro";
import Hero from "@/components/Hero.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import ProjectsIcon from "@/components/icons/Projects.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Skills from "@/components/Skills.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Portfolio de Weslly Cabrera - Desarrollador web y móvil Back-End"
  description="Portfolio de Weslly Cabrera, desarrollador web y móvil. Especializado en Back-End. Descubre algunos de mis proyectos más interesantes, y conoce sobre mi experiencia."
>
  <main class="px-4">
    <SectionContainer id="inicio" class="py-16 md:py-28">
      <Hero />
    </SectionContainer>
  </main>

  <div class="space-y-24">
    <SectionContainer id="sobre-mi">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-8" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        Experiencia
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <ProjectsIcon class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="conocimientos">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-10" />
        Conocimientos
      </h2>
      <Skills />
    </SectionContainer>
  </div>
</Layout>
