<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-200 [&>p>strong]:font-medium text-pretty order-2 md:order-1"
  >
    <p>
      Soy un joven desarrollador con un profundo interés en la tecnología y la
      innovación. Actualmente, estoy <strong>realizando pasantías</strong> que me
      permiten aplicar y expandir mis conocimientos participando en proyectos desafiantes
      y colaborando con un equipo de profesionales.
    </p>

    <p>
      Comencé a programar cuando tenía 15 años, desde entonces, he explorado una
      amplia gama de tecnologías. A lo largo de mi aprendizaje, he desarrollado
      proyectos interesantes en las áreas de <strong
        >desarrollo web y desarrollo móvil</strong
      >, lo que me ha permitido adquirir una valiosa experiencia.
    </p>

    <p>
      Tengo un título de <strong>Perito en Informática</strong>, que me brindó
      la oportunidad de trabajar con diversas herramientas y lenguajes de
      programación. Aunque me siento cómodo en diferentes áreas, tengo una
      especial inclinación por el <strong>desarrollo Back-End</strong>, donde
      disfruto diseñando y construyendo soluciones eficientes y escalables.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.png"
    alt="Weslly Cabrera"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
